<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h1>{{message}}</h1>
        <h1 v-text="message"></h1>
        <div v-html="msg"></div>
        <div>{{msg}}</div>

        <h1 v-show="false">show</h1>
        <!-- 랜더링은 했지만 안보이는 거. display가 none -->
        <h1 v-if="false">if</h1>
        <a v-bind:href="URL">네이버</a>
        
        <select v-model="select">
            <option value="all">전체보기</option>
            <option value="complete">완료한거</option>
            <option value="active">아직안한거</option>
        </select>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el : "#app",
            data : {
                message:"안녕하세요",
                msg:"<h3>이거됨?</h>",
                URL:"https://www.naver.com",
                todos:[
                    {text:"공부하기",complete:true},
                    {text:"밥먹기",complete:true},
                    {text:"퇴근하기",complete:true},
                ],
                select:"all"
            },
            methods : {
                asdf:function(){
                    console.log("asdf")
                }
            }
        }) 
    </script>
</body>
</html>